<div class="landing-title">
    <span>Off The Shelves</span>
</div>

<div class="description">
    <span>Your Ultimate<br> Dressing and<br> Shopping Partner</span>
</div>
<div class="dealsnconnect">
    <div class="todays-deal">
        <a routerLink="/offers">
            <div class="deal-text">
                <span class="text">Today's Offer/s</span>
            </div>

            <div class="deal-image">
                <img *ngFor="let offersImage of offersImage" class="image" [src]="offersImage" alt="Offers Today">
            </div>
        </a>
    </div>
    <div class="connect">
        <div class="connect-text">
            <span class="text">Connect with us</span>
        </div>
        <div class="socials">
            <a href="https://www.instagram.com/_ndu.ngu._/" target="_blank" class="icon">
                <i class="fab fa-instagram"></i><span>offtheshelves</span>
            </a>
            <a href="https://www.instagram.com/_ndu.ngu._/" target="_blank" class="icon">
                <i class="fab fa-twitter"></i><span>offtheshelves</span>
            </a>
            <a href="https://www.instagram.com/_ndu.ngu._/" target="_blank" class="icon">
                <i class="fab fa-facebook"></i><span>offtheshelves</span>
            </a>
            <a href="https://www.instagram.com/_ndu.ngu._/" target="_blank" class="icon">
                <i class="fab fa-snapchat"></i><span>offtheshelves</span>
            </a>
        </div>
    </div>
</div>