<app-shop-menu></app-shop-menu>
<div class="maintext">My Cart</div>
<div class="cart-items-container">
  <div *ngIf="items.length === 0">
    <span class="empty-cart">No items in cart.</span>
    <a routerLink="/shop" class="btn btn-primary">Go to Shop</a>
  </div>
  <div *ngFor="let item of items" class="cart-item">
    <img [src]="item.itemImage" alt="{{ item.itemName }}" class="cart-item-image">
    <div class="cart-item-details">
      <div class="cart-item-name">{{ item.itemName }}</div>
      <div class="cart-item-price">Ksh {{ item.itemPrice }}</div>
      <div class="cart-item-quantity">
        <button (click)="decreaseCartItem(item)" class="btn btn-light">
          <i class="fas fa-minus"></i>
        </button>
        <span>{{ item.quantity }}</span>
        <button (click)="increaseCartItem(item)" class="btn btn-light">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <button (click)="removeItem(item)" class="btn btn-danger">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
  </div>
</div>
<div class="total">{{ total }}</div>
<!--<div class="cart-items-container">-->
<!--    <div *ngIf="items.length === 0">No items in cart.</div>-->
<!--    <div *ngFor="let item of items" class="cart-item">-->
<!--        <img [src]="item.itemImage" alt="{{ item.itemName }}" class="cart-item-image">-->
<!--        <div class="cart-item-details">-->
<!--            <div class="cart-item-name">{{ item.itemName }}</div>-->
<!--            <div class="cart-item-price">{{ item.itemPrice }}</div>-->
<!--            <div class="cart-item-quantity">{{ item.quantity }}</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<button *ngIf="items.length > 0" (click)="clearCart()">Clear Cart</button>
