<div class="menu">
    <div class="topbar">
        <div class="leftside">
            <span>Off the shelves</span>
        </div>
        <div class="rightside">
            <i class="fas fa-map-marker-alt"></i>
            <span>Login</span>
            <i class="fas fa-user"></i>
        </div>
    </div>
    <div class="middlebar">
        <div class="leftside">
            <div class="left">
                <span>Shop and dress with us</span>
            </div>
            <div class="right">
                <a class="link" routerLink="/men">
                    <span class="text">Men</span>
                </a>
                <a class="link" routerLink="/women">
                    <span class="text">Women</span>
                </a>
                <a class="link" routerLink="/kids">
                    <span class="text">Kids</span>
                </a>
            </div>
        </div>

    </div>
</div>