<div class="menu">
    <div class="topbar">
        <div class="leftside">
            <span>Off the shelves</span>
        </div>
        <div class="rightside">
            <i class="fas fa-map-marker-alt"></i>
            <span>Login</span>
            <i class="fas fa-user"></i>
        </div>
    </div>
    <div class="middle-bar">
        <div class="leftside">
            <div class="left">
                <span>Shop and dress with us</span>
            </div>
            <div class="right">
                <a routerLink="/men">
                    <span>Men</span>
                </a>
                <a routerLink="/women">
                    <span>Women</span>
                </a>
                <a routerLink="/kids">
                    <span>Kids</span>
                </a>
            </div>
        </div>

    </div>
</div>