.menu .topbar {
    background: #070814;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

.menu .topbar .leftside {
    margin-left: 50px;
}

.menu .topbar .leftside span {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.menu .topbar .rightside {
    margin-right: 60px;
}

.menu .topbar .rightside i.fas {
    font-size: 20px;
    margin: 0 20px;
}

.menu .topbar .rightside span {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: #ffffff 1px solid;
    border-radius: 5px;
    padding: 3px;
}

// middle bar
.menu .middlebar {
    height: 6vh;
    display: flex;
    align-items: center;
    margin-top: 10px;
    .leftside {
        display: flex;
        justify-content: space-between;
        width: 40%;
        .left {
            margin-left: 50px;
            font-size: 20px;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            display: flex;
            align-items: center;
        }
        .right {
            display: flex;
            .link {
                text-decoration: none;
                display: flex;
                align-items: center;
                font-size: 15px;
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                margin-right: 15px;
                .text {
                    color: #000000;
                }
            }
            .link:last-child {
                margin-right: 0;
            }
        }
    }
}