<div class="menu">
    <div class="topbar">
        <div class="leftside">
            <a routerLink="">
                <span>Off the shelves</span>
            </a>

        </div>
        <div class="rightside">
            <i class="fas fa-map-marker-alt"></i>
            <span>Login</span>
            <i class="fas fa-user"></i>
        </div>
    </div>
    <div class="middlebar">
        <div class="leftside">
            <div class="left">
                <span>Shop and dress with us</span>
            </div>
            <div class="right">
                <a class="link" routerLink="/men">
                    <span class="text">Men</span>
                </a>
                <a class="link" routerLink="/women">
                    <span class="text">Women</span>
                </a>
                <a class="link" routerLink="/kids">
                    <span class="text">Kids</span>
                </a>
            </div>
        </div>
        <div class="rightside">
            <div class="search">
                <input type="text" placeholder="Search" maxlength="15">
                <i class="fas fa-search"></i>
            </div>
            <div class="cart">
                <a routerLink='/cart'>
                    <!-- <i class="fas fa-shopping-cart"></i> -->
                    <img [src]="hangerCart" alt="cart">
                    <span class="count">
                        <app-cartcounter></app-cartcounter>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="bottombar">
        <a routerLink='/men'>
            <span>New In</span>
        </a>
        <a routerLink='/men'>
            <span>Hoodies</span>
        </a>
        <a routerLink='/men'>
            <span>Tees</span>
        </a>
        <a routerLink='/men'>
            <span>Pants</span>
        </a>
        <a routerLink='/men'>
            <span>Shoes</span>
        </a>
        <a routerLink='/men'>
            <span>OTS Essentials</span>
        </a>
        <a routerLink='/men'>
            <span>Accessories</span>
        </a>
        <a routerLink='/men'>
            <span>Plus</span>
        </a>
    </div>
</div>