@import '~@fortawesome/fontawesome-free/css/all.min.css';
// landing page
.connect {
    margin-left: 60px;
}

.connect .connect-text {
    // padding-top: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    // text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.connect .socials {
    margin: 10px 0;
}

.connect .socials .icon {
    text-decoration: none;
    color: #000000;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    i.fab {
        color: #000000;
        margin-right: 40px;
        font-size: 40px;
        // margin right 20px, top and bottom 15px, right 0
        margin: 15px 20px 15px 0;
    }
    span {
        font-size: 30px;
        font-weight: 600;
    }
}