<div class="footer">
    <div class="top">
        <span>JOIN OFF THE SHELVES FAMILY</span>
        <div class="input">
            <input type="text" placeholder="Enter your email address" maxlength="30">
            <button>JOIN</button>
        </div>

    </div>
    <div class="bottom">
        <div class="socials">
            <a href="https://www.instagram.com/_ndu.ngu._/" target="_blank" class="icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.instagram.com/_ndu.ngu._/" target="_blank" class="icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/_ndu.ngu._/" target="_blank" class="icon">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/_ndu.ngu._/" target="_blank" class="icon">
                <i class="fab fa-snapchat"></i>
            </a>
        </div>

    </div>
</div>
<div class="footertext">
    <div class="text">
        <span>COPYRIGHT &copy; 2023 OFF THE SHELVES. ALL RIGHTS RESERVED</span>
    </div>
</div>